* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', sans-serif;
}

body {
  background-color: #aeddc0;
  height: 100vh;
  /* display: flex;
  justify-content: center;
  align-items: center; */
}

header {
  background-color: #fdf8f2;
  padding: 1rem 2rem;
  border-bottom: 1px solid #ddd;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
  color: #2d4235;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 1.5rem;
}

nav a {
  text-decoration: none;
  color: #2d4235;
  font-weight: 500;
}

.body-container{
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-container {
  background-color: white;
  padding: 30px 40px;
  border-radius: 15px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
  width: 100%;
  max-width: 400px;
}

.login-form h2 {
  text-align: center;
  margin-bottom: 25px;
  color: #333;
}

.input-group {
  margin-bottom: 20px;
}

.input-group label {
  display: block;
  margin-bottom: 8px;
  color: #555;
}

.input-group input {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 8px;
  transition: border 0.3s;
}

.input-group input:focus {
  border-color: #74ebd5;
  outline: none;
}

button {
  width: 100%;
  padding: 12px;
  background-color: #74ebd5;
  border: none;
  border-radius: 8px;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  transition: background 0.3s;
}

button:hover {
  background-color: #5dd4c2;
}

.signup-link {
  text-align: center;
  margin-top: 20px;
  color: #555;
}

.signup-link a {
  color: #007BFF;
  text-decoration: none;
}
